<div class="card border-primary mb-3">
  <div class="card-header">Libros</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de libros</h5>
    <div class="my-2 text-left">
      <button
        *ngIf="
          authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')
        "
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/libros/form']"
      >
        Nuevo Libro
      </button>
    </div>
    <div class="my-6">
      <form>
        <div class="form-group">
          <label>Titulo</label>
          <input type="text" class="form-control" #titulo />

          <button
            class="btn btn-info"
            type="button"
            name="botonFiltrar"
            (click)="filtrarBusqueda(titulo.value)"
          >
            Buscar
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="libros?.length == 0" class="alert alert-info">
      No existe ningun libro registrado
    </div>
    <table
      class="table table-bordered table-striped"
      *ngIf="libros?.length > 0"
    >
      <thead>
        <tr>
          <th
            *ngIf="
              authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')
            "
          >
            Id
          </th>
          <th>Titulo</th>
          <th>Numero Paginas</th>
          <th>Autor</th>
          <th>Ubicacion</th>
          <th
            *ngIf="
              authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')
            "
          >
            Editar
          </th>
          <th
            *ngIf="
              authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')
            "
          >
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libro of libros">
          <td
            *ngIf="
              authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')
            "
          >
            {{ libro.id }}
          </td>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.numeroPaginas }}</td>
          <td>{{ libro.autor.nombre }}</td>
          <td>
            Pasillo: {{ libro.ubicacion.pasillo }} - Fila:
            {{ libro.ubicacion.fila }} - Seccion: {{ libro.ubicacion.seccion }}
          </td>
          <td
            *ngIf="
              authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')
            "
          >
            <button
              type="button"
              name="editar"
              [routerLink]="['/libros/form', libro.id]"
              class="btn btn-primary btn-sm"
            >
              Editar
            </button>
          </td>
          <td
            *ngIf="
              authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')
            "
          >
            <button
              type="button"
              name="eliminar"
              (click)="delete(libro)"
              class="btn btn-danger btn-sm"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Navegacion">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngIf="pagActual != 1">
          <a class="page-link" style="cursor: pointer;" (click)="rewind()"
            >Anterior</a
          >
        </li>
        <li
          *ngFor="let num of numerosPaginas"
          [ngClass]="{
            'page-item active': pagActual === num,
            'page-item': pagActual === num
          }"
        >
          <a
            class="page-link"
            style="cursor: pointer;"
            (click)="setPage(num - 1)"
            >{{ num }}</a
          >
        </li>
        <li class="page-item" *ngIf="pagActual != totalPaginas">
          <a class="page-link" style="cursor: pointer;" (click)="forward()"
            >Siguiente</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
