<div class="card border-primary mb-3">
  <div class="card-header">Prestamos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de prestamos</h5>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/prestamos/form']"
      >
        Nuevo Prestamo
      </button>
    </div>
    <div class="my-6">
      <form>
        <div class="form-group">
          <label>Nombre de usuario</label>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            #username
          />
          <button
            class="btn btn-info"
            type="button"
            name="botonFiltrarUsername"
            (click)="filtrarBusqueda(username.value)"
          >
            Buscar
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="prestamos?.length == 0" class="alert alert-info">
      No existe ningun prestamo registrado
    </div>
    <table
      class="table table-bordered table-striped"
      *ngIf="prestamos?.length > 0"
    >
      <thead>
        <tr>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">ID</th>
          <th style="cursor: pointer;">
            Username
          </th>
          <th>Libro</th>
          <th>Fecha Inicio</th>
          <th>Fecha Final</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestamo of prestamos">
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">{{ prestamo.id }}</td>
          <td>{{ prestamo.usuario.username }}</td>
          <td>{{ prestamo.libro.titulo }}</td>
          <td>{{ prestamo.fechaInicio | date: "dd/MM/yyyy" }}</td>
          <td>{{ prestamo.fechaFinal | date: "dd/MM/yyyy" }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button
              type="button"
              name="editar"
              [routerLink]="['/prestamos/form', prestamo.id]"
              class="btn btn-primary btn-sm"
            >
              Editar
            </button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button
              type="button"
              name="eliminar"
              (click)="delete(prestamo)"
              class="btn btn-danger btn-sm"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Navegacion">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngIf="pagActual != 1">
          <a
            class="page-link"
            style="cursor: pointer;"
            (click)="setPage(pagActual - 2)"
            >Anterior</a
          >
        </li>
        <li
          *ngFor="let num of numerosPaginas"
          [ngClass]="{
            'page-item active': pagActual === num,
            'page-item': pagActual === num
          }"
        >
          <a
            class="page-link"
            style="cursor: pointer;"
            (click)="setPage(num - 1)"
            >{{ num }}</a
          >
        </li>
        <li class="page-item" *ngIf="pagActual != totalPaginas">
          <a
            class="page-link"
            style="cursor: pointer;"
            (click)="setPage(pagActual)"
            >Siguiente</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
