<main role="main" class="inner cover">
  <h1 class="cover-heading">Bienvenidos a BiblioManager</h1>
  <p class="lead">
    Bienvenidos a BiblioManager, app para la gestión de bibliotecas
  </p>
  <p class="lead">
    Utilice el menú superior para navegar por las distintas páginas de la
    aplicación, e inicie sesión para acceder a todas las funcionalidades
  </p>
  <p class="lead">¿Aún no tiene cuenta en la aplicación?</p>
  <p class="lead">
    <a [routerLink]="['/usuarios/form']" class="btn btn-lg btn-secondary"
      >Registrarse</a
    >
  </p>
</main>
